astroid==4.0.2
beautifulsoup4==4.14.2
blinker==1.9.0
cachetools==5.5.2
certifi==2025.6.15
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
cryptography==46.0.3
deep-translator==1.11.4
dill==0.4.0
et_xmlfile==2.0.0
Flask==3.1.1
google-api-core==2.25.1
google-api-python-client==2.173.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.2.6
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==12.0.0
platformdirs==4.5.0
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pylint==4.0.3
pyparsing==3.2.3
pypdfium2==5.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
soupsieve==2.8
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
webdriver-manager==4.0.2
Werkzeug==3.1.3
